<div class='col-md-2'>
    <ul class='list-group'>
        <li class='list-group-item'>
            <a href="{{ url_for('user_info') }}">我的个人信息</a>
        </li>
        <li class='list-group-item'>
            <a href="">我发表的文章</a>
        </li>
        <li class='list-group-item'>
            <a href="">我支持的文章</a>
        </li>
        <li class='list-group-item'>
            <a href="{{ url_for('user_pwd') }}">用户密码修改</a>
        </li>
        <li class='list-group-item'>
            <a href="{{ url_for('user_del') }}">用户注销账号</a>
        </li>
    </ul>
</div>