{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron" style='padding: 10px 20px'>
        <h2>{{ session.get('user_name') }}的个人中心</h2>
    </div>
    <div>
        {% include 'user_menu.html' %}
        <div class='col-md-10'>
            <div class="jumbotron" style='margin-top: 10px'>
                <h2>我的信息</h2>
                <form action="{{ url_for('user_info') }}" enctype='multipart/form-data' method='post'>
                    <div class='form-group'>
                        <input class='form-group-item' type="file" name='file'>
                        <br >
                        <input class='btn btn-success' type="submit" value='上传''>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}